<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/logo-de-IALY.png" type="image/x-icon">
    <title>Dashboard | Backoffice - ME</title>
</head>
<body>
    <main class="container">
        <section class="left">
            
        </section>
        <section class="right">
        </section>
    </main>
</body>
</html>