<header>
    <nav>
        <ul>
            <li>
                <form action="/authentication/logout" method="POST">
                    <button>Logout</button>
                </form>
                </a>
            </li>
        </ul>
    </nav>
</header>