<aside>
    <nav>
        <ul>
            <li>
                <a href="/backoffice">
                    <img src="../../img/icon (0).png" alt="">
                </a>
            </li>
            <li>
                <a href="/backoffice/apis">
                    <img src="../../img/icons (1).png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</aside>