<aside>
    <nav>
        <ul>
            <li>
                <a href="/backoffice">
                    <img src="../../img/all.png" alt="" title="Tout">
                </a>
            </li>
            <li>
                <a href="/backoffice/apis">
                    <img src="../../img/api.png" alt="" title="APIs">
                </a>
            </li>
        </ul>
    </nav>
</aside>