<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/logo-de-IALY-Francisco-Raymond.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/Login.css">
    <title>Login | ME</title>
</head>
<body>

    <% if(error && error.length > 0) { %>
        <div class="message-error">
            <p><%- error -%></p>
        </div>
    <% } %>

    <form action="/authentication/login" method="POST">
        <section class="logo-container">
            <a href="https://portfolio-4n0j.onrender.com/" target="_blank">
                <img src="../../img/logo-de-IALY-Francisco-Raymond.png" alt="Logo de IALY" title="Logo de IALY">
            </a>
            <h2>Login</h2>
        </section>
        <section>
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" required>
        </section>
        <section>
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" required>
        </section>
        <section class="button-container">
            <button>Submit</button>
        </section>
    </form>
</body>
</html>