::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--grenat);
    border-radius: 10px;
    border: 3px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: #ecf0f1;
    border-radius: 10px;
}

:root {
    --grenat: #581845;
}

@font-face {
    font-family: ProximaSoft;
    src: url("../font/ProximaSoft-Thin.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ProximaSoft;
}

aside {
    width: 60px;
    height: 100vh;
    background-color: var(--grenat);
    box-shadow: 1px 1px 5px #59565644;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

aside img {
    width: 25px;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container .right {
    width: 100%;
    padding: 0 30px;
}

.container .right nav {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid rgb(241, 241, 241);
}


button {
    padding: 10px 13px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #96959546;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    transition: 0.1s;
    outline: none;
}

button:active {
    transform: scale(0.95);
    transition: 0.1s;
}

.title-container {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.title-container h1 {
    border-bottom: 1px solid var(--grenat);
    padding-bottom: 3px;
}

.container .actions {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.apikey-list {
    width: 100%;
    height: calc(100vh - 275px);
    overflow: auto;
    margin-top: 30px;
}

table {
    width: 100%;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(3),
td:nth-child(4)
{
    width: calc(100% / 4);
    padding-left: 20px;
}

td {
    background-color: #5818450b;
}

tr th {
    padding: 20px;
    text-align: initial;
    background-color: #581845;
    color: white;
}

td:nth-child(1) {
    width: 20%;
    padding: 15px;
}

td img {
    width: 20px;
    cursor: pointer;
    transition: 250ms;
}

td img:active {
    transition: 250ms;
    transform: scale(0.8);
}

table .project-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 10px;
}

td p {
    font-size: 14px;
}

.overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100dvh;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: 250ms;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    width: 300px;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    margin: 100px auto;
    left: -50%;
    right: -50%;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.429);
    border-radius: 5px;
    padding: 20px 15px;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}